.popover {
    height: auto !important;
}

.popover ion-header-bar {
    position: relative;
}

.popover ion-content {
    top: 0;
    position: relative;
}

.popover-inner-content {
    width: 100%;
    padding: 5px 20px;
}

.inline-title {
    font-weight: bold;
    width: 50%;
}

.inline-content {
    width: 40%;
    text-align: right;
}

.tag-input {
    font-weight: bold;
    width: 60%;
}

.tag-button {
    width: 15%;
    text-align: center;
}

.tag-enter-span {
    width: 5%;
}

.tag-badge {
    background-color: transparent;
    color: tan;
    z-index: 1;
    display: inline-block;
    padding: 10px 8px;
    min-width: 10px;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.output-badge {
    background-color: #ff8f7d;
    color: white;
    z-index: 1;
    display: inline-block;
    padding: 3px 8px;
    width: 7em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.income-badge {
    background-color: #4bd26f;
    color: white;
    z-index: 1;
    display: inline-block;
    padding: 3px 8px;
    width: 7em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.m-title-badge {
    background-color: transparent;
    color: darkgray;
    z-index: 1;
    display: inline-block;
    padding: 1em 0 0 0;
    width: 7em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.t-short-task-badge {
    background-color: #4bd26f;
    color: white;
    z-index: 1;
    display: inline-block;
    padding: 3px 8px;
    width: 5em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.t-short-desire-badge {
    background-color: #ff8f7d;
    color: white;
    z-index: 1;
    display: inline-block;
    padding: 3px 8px;
    width: 5em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.t-long-task-badge {
    background-color: #4bd26f;
    color: white;
    z-index: 1;
    display: inline-block;
    padding: 3px 8px;
    width: 8em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.t-long-desire-badge {
    background-color: #ff8f7d;
    color: white;
    z-index: 1;
    display: inline-block;
    padding: 3px 8px;
    width: 8em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.t-title-badge {
    background-color: transparent;
    color: darkgray;
    z-index: 1;
    display: inline-block;
    padding: 1em 0 0 0;
    width: 8em;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.content {
    width: 95%;
    text-align: right;
}

.memo {
    width: 100%;
    height: 12em;
}

.multi_buttons {
    padding: 0 5%;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.placehold {
    width: 100%;
    color: darkgray;
    font-weight: bold;
    text-align: center;
}

.chart {
    padding: 5%;
}