<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{lang(localInfo.lang).setting.a}}</h1>
        <div class="buttons">
            <button class="button button-light" ng-click="closeSetting()">{{lang(localInfo.lang).setting.b}}</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doSetting()">
            <div class="list">
                <label class="item item-input">
                    <span style="width:75%;" class="input-label bold">{{lang(localInfo.lang).setting.c}}</span>
                    <select class="col" ng-model="tmpInfo.lang">
                        <option value="zh_cn">中文</option>
                        <option value="en">English</option>
                    </select>
                    <span style="width:5%;"></span>
                </label>
                <label class="item item-input">
                    <span class="input-label bold">{{lang(localInfo.lang).setting.d}}</span>
                    <img class="padding" ng-src="{{tmpInfo.icon}}">
                </label>
                <div class="multi_buttons button-bar">
                    <button class="button button-block button-balanced" type="button" ng-click="takePicture()">
                        <i class="icon ion-camera"> {{lang(localInfo.lang).setting.e}}</i>
                    </button>
                    <button class="button button-block button-calm" type="button" ng-click="getPicture()">
                        <i class="icon ion-images"> {{lang(localInfo.lang).setting.f}}</i>
                    </button>
                </div>
                <label class="item item-input">
                    <span class="input-label bold">{{lang(localInfo.lang).setting.g}}</span>
                    <input type="text" ng-model="tmpInfo.username">
                </label>
                <label class="item item-input">
                    <span class="input-label bold">{{lang(localInfo.lang).setting.h}}</span>
                    <input type="text" ng-model="tmpInfo.income">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">{{lang(localInfo.lang).setting.i}}</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>