<ion-view view-title="{{lang(localInfo.lang).mata.a}}">
    <ion-content>
        <form ng-show="tmpOutput.triggered === true" class="card" ng-submit="finishLoadTemplate('output')">
            <div class="item item-divider"> {{lang(localInfo.lang).mata.b}} </div>
            <div class="list list-inset">
                <label class="item item-input item-text-wrap"> <span class="input-label"> {{lang(localInfo.lang).mata.c}} </span>
                    <input type="text" ng-model="tmpOutput.unit_price"> </label>
                <label class="item item-input item-text-wrap"> <span class="input-label"> {{lang(localInfo.lang).mata.d}} </span>
                    <input type="text" ng-model="tmpOutput.amount"> </label>
                <label class="item item-input item-text-wrap"> <span class="input-label"> {{lang(localInfo.lang).mata.e}} </span>
                    <input type="text" ng-model="tmpOutput.event"> </label>
            </div>
            <label class="item">
                <button class="button button-block button-positive" type="submit"> {{lang(localInfo.lang).mata.f}} </button>
            </label>
        </form>
        <div ng-show="tmpIncome.triggered === true" class="card" ng-submit="finishLoadTemplate('income')">
            <div class="item item-divider"> {{lang(localInfo.lang).mata.g}} </div>
            <div class="list list-inset">
                <label class="item item-input item-text-wrap"> <span class="input-label"> {{lang(localInfo.lang).mata.h}} </span>
                    <input type="text" ng-model="tmpIncome.unit_price"> </label>
                <label class="item item-input item-text-wrap"> <span class="input-label"> {{lang(localInfo.lang).mata.i}} </span>
                    <input type="text" ng-model="tmpIncome.event"> </label>
            </div>
            <label class="item">
                <button class="button button-block button-positive" type="submit"> {{lang(localInfo.lang).mata.j}} </button>
            </label>
        </div>
    </ion-content>
</ion-view>