<ion-view view-title="{{lang(localInfo.lang).mc.a}}">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDel()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
<!--
        <div class="card">
            <h1 class="title">Debug Card</h1>
            <p>Records Length: {{records.length}}</p>
            <p>Content: {{records}}</p>
        </div>
-->
        <div class="row">
            <label class="col center">{{lang(localInfo.lang).mc.b}}</label>
            <label class="col center">{{lang(localInfo.lang).mc.c}}</label>
            <label class="col center">{{lang(localInfo.lang).mc.d}}</label>
        </div>
        <div class="row">
            <select class="col" ng-model="filtText">
                <option value="output">{{lang(localInfo.lang).mc.e}}</option>
                <option value="income">{{lang(localInfo.lang).mc.f}}</option>
            </select>
            <select class="col" ng-model="order">
                <option value="date">{{lang(localInfo.lang).mc.g}}</option>
                <option value="sum">{{lang(localInfo.lang).mc.h}}</option>
            </select>
            <select class="col" ng-model="orderText">
                <option value="{{order}}">{{lang(localInfo.lang).mc.i}}</option>
                <option value="{{'-' + order}}">{{lang(localInfo.lang).mc.j}}</option>
            </select>
        </div>
        <ion-list show-delete="showAllDelete">
            <ion-item collection-repeat="rec in records | filter: {type: filtText} | orderBy: orderText" href="#/app/mc/{{rec.id}}">
                <h1 class="title">{{rec.date | date}}</h1>
                <p>{{lang(localInfo.lang).mc.k}}：{{rec.event}}</p>
                <p ng-show="filtText === 'output'">{{lang(localInfo.lang).mc.l}}：{{rec.unit_price}}</p>
                <p ng-show="filtText === 'output'">{{lang(localInfo.lang).mc.m}}：{{rec.amount}}</p>
                <p ng-show="filtText === 'income'">{{lang(localInfo.lang).mc.n}}：{{rec.unit_price}}</p>
                <p>{{lang(localInfo.lang).mc.o}}：{{time(rec)}}</p>
                <ion-delete-button class="ion-minus-circled" ng-click="doDel(rec.id)"> </ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="doDel(rec.id)"><span><i class="icon ion-trash-a"></i> {{lang(localInfo.lang).mc.p}}</span></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>