<ion-view view-title="{{lang(localInfo.lang).tc.a}}">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDel()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
<!--
        <div class="card">
            <h1 class="title">Debug Card</h1>
            <p>Records Length: {{records.length}}</p>
            <p>Content: {{records}}</p>
        </div>
-->
        <div class="row">
            <ion-radio class="col center" ng-model="filtText" value="task">{{lang(localInfo.lang).tc.b}}</ion-radio>
            <ion-radio class="col center" ng-model="filtText" value="desire">{{lang(localInfo.lang).tc.c}}</ion-radio>
        </div>
        <ion-list show-delete="showAllDelete">
            <ion-item collection-repeat="rec in records | filter: {type: filtText}" href="#/app/tc/{{rec.id}}">
                <h1 class="title">{{rec.event}}</h1>
                <p>{{textType(rec.type)}}：{{rec.points}}</p>
                <p>{{doneType(rec.type)}}{{lang(localInfo.lang).tc.d}}：{{rec.amount}}</p>
                <p>{{lang(localInfo.lang).tc.e}}：{{date(rec)}} {{time(rec)}}</p>
                <ion-delete-button class="ion-minus-circled" ng-click="doDel(rec.type, rec.id)"> </ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="doDel(rec.type, rec.id)"><span><i class="icon ion-trash-a"></i> {{lang(localInfo.lang).tc.f}}</span></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>