<ion-view view-title="{{lang(localInfo.lang).tm.a}}">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDel()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
<!--
        <div class="card">
            <h1 class="title">Debug Card</h1>
            <p>Records Length: {{records.length}}</p>
            <p>Content: {{records}}</p>
        </div>
-->
        <ion-list show-delete="showAllDelete">
            <ion-item collection-repeat="rec in records | filter: {type: 'memo'}" href="#/app/tm/{{rec.id}}">
                <h1 class="title">{{rec.event}}</h1>
                <p>{{lang(localInfo.lang).tm.b}}：{{date(rec)}} {{time(rec)}}</p>
                <ion-delete-button class="ion-minus-circled" ng-click="doDel(rec.type, rec.id)"> </ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="doDel(rec.type, rec.id)"><span><i class="icon ion-trash-a"></i> {{lang(localInfo.lang).tm.c}}</span></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>