<ion-view view-title="{{lang(localInfo.lang).ts.a}}">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="toggleDel()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="showAllDelete">
            <ion-item collection-repeat="rec in records" href="#/app/ts/{{rec.id}}">
                <h1 class="title">{{rec.event}}</h1>
                <p>{{textType(rec.type)}}：{{rec.points}}</p>
                <p>{{lang(localInfo.lang).ts.b}}：{{date(rec)}} {{time(rec)}}</p>
                <ion-delete-button class="ion-minus-circled" ng-click="doDel(rec.id)"> </ion-delete-button>
                <ion-option-button class="button-assertive" ng-click="doDel(rec.id)"><span><i class="icon ion-trash-a"></i> {{lang(localInfo.lang).ts.c}}</span></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>