<div class="ngdialog-message">
    <div>
        <form class="card" ng-submit="finishEdit()">
            <button ng-show="false"></button>
            <div class="row item item-divider">
                <div class="col-xs-10 form-title">
                    <div>Edit Memo</div>
                </div>
                <div class="col-xs-2 col-xs-push-0 col-sm-1 col-sm-push-1 form-confirm-btn-style">
                    <a href="" class="fa fa-pencil-square-o form-confirm-btn-color" ng-click="finishEdit()"></a>
                </div>
            </div>
            <div class="list list-inset">
                <div class="card">
                    <div class="list list-inset">
                        <textarea class="memo" class="item item-text-wrap" ng-model="record.event"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>